
  <div class="container notfound_container ">
    <!-- <div class="logo_container--container">
      <div class="logo_container">
        <a routerLink="../">
          <picture>
            <img src="{{settingMain.logoIconMini}}" alt="{{settingMain.logoAltText}}" class="logo">
          </picture>
        </a>
      </div>
    </div> -->
    <!-- <div class="notfound_container--form"> -->
      <!-- <div class="notfound_form">
        <div class="" >
          <div class="text-center">
              <h1 class="notfound_heading">{{language.notFound.heading}}</h1>
              <p class="notfound_text">{{language.notFound.text}}</p> -->
            <div class="notfound_btn--container">
              <a routerLink="/" type="button" class="notfound_btn">Not Found</a>
          </div>
          <!-- </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>